/* toyproject-process-page */
#toyproject-process-page {
  width: 100vw;
  height: 500vh;
  display: none;
  opacity : 0;
  flex-direction: column;
  position: relative;
}

#toyproject-process-page > #toyproject-process-page-1 > #note-board >.process-arrow-sticker {
  width: 150px;
  height: 60px;
  background-image: url('/img/뒤로가기-화살표.png');
  background-size: cover;
  transform: rotate(6deg);
  
  left:1%;
  top:2%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#toyproject-process-page > #toyproject-process-page-1 > #note-board >.process-arrow-sticker > h1 {
  font-size: 15px;
  color: #f0f0f0;
}

#toyproject-process-page > #toyproject-process-page-1 > #note-board >.process-arrow-sticker,#toyproject-process-page > #toyproject-process-page-5 > #note-board >.top-sticker:hover {
  cursor: pointer;
}

#toyproject-process-page > #toyproject-process-page-5 > #note-board >.top-sticker {
  width: 150px;
  height: 60px;
  border-radius: 100%;
  background-color: #f0f0f0;
  border: var(--color-orange-2) 4px solid;
  transform: rotate(-10deg);
  
  position: absolute;
  right:1%;
  bottom:2%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#toyproject-process-page > #toyproject-process-page-5 > #note-board >.top-sticker > h1 {
  font-size: 16px;
  color: var(--color-orange-2);
}

#toyproject-process-page-1,#toyproject-process-page-2,#toyproject-process-page-3,#toyproject-process-page-4,#toyproject-process-page-5 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-orange-1);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.toyproject-process-img-1, .toyproject-process-img-2, .toyproject-process-img-3, .toyproject-process-img-4, .toyproject-process-img-5 {
  width: 45%;
  height: 81%;
  margin-top: -1%;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.toyproject-process-img-1 {
  background-image: url("/img/기획 과정 페이지 소스/토이-기획-소스-1.png");
}
.toyproject-process-img-2 {
  background-image: url("/img/기획 과정 페이지 소스/토이-기획-소스-2.png");
}
.toyproject-process-img-3 {
  background-image: url("/img/기획 과정 페이지 소스/토이-기획-소스-3.png");
}
.toyproject-process-img-4 {
  background-image: url("/img/기획 과정 페이지 소스/토이-기획-소스-4.png");
}
.toyproject-process-img-5 {
  background-image: url("/img/기획 과정 페이지 소스/토이-기획-소스-5.png");
}

.toyproject-process-img-1 > section, .toyproject-process-img-2 > section, .toyproject-process-img-3 > section, .toyproject-process-img-4 > section, .toyproject-process-img-5 > section {
  width: 85%;
  height: 80%;
  margin-top: 6%;
  margin-left: 2%;
  background-color: #fff;
}

.toyproject-process-info-1, .toyproject-process-info-2, .toyproject-process-info-3, .toyproject-process-info-4, .toyproject-process-info-5 {
  width: 45%;
  height: 80%;
  margin-top: 1%;
  margin-left: 2%;
  border: red 1px solid;
}
