/* main page 1 */
#main-page-1 {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-orange-1);
  
  display: none;
  align-items: center;
  justify-content: center;
  opacity : 0;
}

#orange-board {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  background-image: url('/img/종이-이미지-수정.png');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.1);
}

.my-photo-mini {
  width: 220px;
  height: 260px;
  background-image: url('/img/김주은-누끼.png');
  background-size: cover;
  position: absolute;

  top:-2%;
  left: 2%;
}

.speech-bubble-heart {
  width: 70px;
  height: 70px;
  background-image: url('/img/speech-bubble.png');
  background-size: cover;
  position: absolute;
  
  top:-2%;
  left: 13%;
}

.windie-memo, .bubbleroom-memo, .toyproject-memo {
  background-size: cover;
  position: absolute;
}

.windie-memo {
  width: 350px;
  height: 400px;
  background-image: url('/img/윈디-메모지-그림자제거.png');

  left:10%;
}

.bubbleroom-memo {
  width: 400px;
  height: 410px;
  background-image: url('/img/버블룸-메모지-그림자제거.png');
}

.toyproject-memo {
  width: 320px;
  height: 480px;
  background-image: url('/img/토이프로젝트-폴라로이드-그림자제거.png');

  right:10%;
}

/* 그림자 만들어주기! */