/* contact-page */
#contact-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-orange-1);
  
  display: none;
  align-items: center;
  justify-content: center;
  opacity : 0;
}

#contact-page, .paper,#contact-page > h3,#contact-page > h4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paper {
  width: 60%;
  height: 30%;
  background-image: url('/img/종이텍스쳐.jpg');
  background-size: cover;
}

.paper>h1,.paper>h2 {
  font-family: 'Lilita One';
  font-size: 80px;
  color: #f0f0f0;
  -webkit-text-stroke: 1.5px var(--color-orange-2);
}

#contact-page > h3, #contact-page > h4 {
width: 25%;
height: 8%;
font-size: 18px;
font-family: 'Poppins';

background-color: var(--color-orange-1);
border:var(--color-orange-2) 5px solid;
border-radius: 10px;
margin-top: 30px;
}